@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* Ensures no scrollbar on body */
}


body{
  margin: 0;
  padding: 0;
  background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('../public/chat.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

}

/* for removing scrollbar */
@layer utilities {

  /* for safari chrome opera */
  .scrollbar::-webkit-scrollbar {
    display: none;
  }

  /*  for edge internet explorer  firefox */
  .scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
